---
title: Nadder
layout: base.eta
---
<div style="width: 100vw; height: 100vh; display: grid; place-items: center; margin: 0">
  {{content | safe}}
  {{comp["button.ts"]({name:"Click Me"}) | safe}}
</div>