---
title: Nadder
layout: base.eta
---
<div class="dark:(font-bold m(x-1 y-2) border-(red-200 1)) my-classname">
  {{content | safe}}
  {{comp["button.ts"]({name:"Click Me"}) | safe}}
  <script src="/solid.jsx" type="module"></script>
  <div id="app"></div>
</div>